@primary-color: #000;

html, body {
  background-color: #fff;
}

.bg-image-home {
  background: url(/images/bg-homepage.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-image-manifesto {
  background: url(/images/bg-manifesto.png);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: bottom right;
}